<h1>Edit a Tweet</h1>

<form method= "POST" action= "/tweets/<%=@tweet.id%>">
  <input id="hidden" name= "hidden" name="_method"  value="PATCH"> 
  <input type="text" name= "content" value= "<%= @tweet.content%>">
  <input type="submit" value= "Submit">
</form>
  
