<html>
  <form method= "POST" action= "/tweets">
    <label for= "content"> What's on your mind?</label> 
    
    <input type= "text" name= "content" id= "content"><br>
    <input type= "submit" value= "submit">
  </form>
  
</html>